# Directories
/.git
/build
/dependencies/*

# Files
*.mkv
*.exe
*.aux
*.log
*.synctex.gz
*.zip
*.cache

# Emacs specific files
*.*~
*.*#
*.#*

# compile comands for language server
src/compile_commands.json

#Include CMakeLists for dependencies
!/dependencies/CMakeLists.txt