# Directories
/.git
/build
/dependencies/glew
/dependencies/glfw
/dependencies/glm
/dependencies/imgui


# Files
*.mkv
*.exe
*.aux
*.log
*.synctex.gz
*.zip
*.cache

# Emacs specific files
*.*~
*.*#
*.#*

# compile comands for language server
src/compile_commands.json